@font-face {
    font-family: "Raleway";
    src: url("fonts/raleway-800.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/rubik-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/rubik-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/rubik-800.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 30px;
    background-color: #F0F0F0;
    color: #444444;
}

.page-header {
    color:#444444;
    background-color: #FFE17F;
}

.navigation-link {
    font-family: "Raleway", sans-serif;
    color:#000000;
    text-align: center;
    text-decoration: none;
}

.menu {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.background {
    background-color: #ffffff;
}

.tag-cloud-item-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    color:#000000;
    font-size: 18px;
    line-height: 24px;
}
